@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* top banner style starts here */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105vh;   
}

.parent-box{
    display: flex;
    width: 80%;
    height: 80vh;
    background-image: linear-gradient(black, rgb(29, 27, 27));
    align-items: center;
    border-radius: 25px; 
}
.banner-text{
    width: 50%;
    height: 100%;
    color: white;
    padding: 85px;
}

.banner-image{
    width: 50%;  
}

.banner-image img{
    width: 87%;
    padding-top: 39px;   
}

.banner-h1{
    font-size: 55px;
    line-height: 60px;
}

.click-link{
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 400;
}

.banner-p{
    margin-bottom: 30px;
    margin-top: 20px;
    font-weight: 300;
    font-size: 14px;
    color: rgb(216, 212, 212);
}

.banner-text> a>i{
    padding-left: 20px;
}

/* top banner style ends here */