/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* top banner style starts here */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105vh;   
}

.parent-box{
    display: flex;
    width: 80%;
    height: 80vh;
    background-image: linear-gradient(black, rgb(29, 27, 27));
    align-items: center;
    border-radius: 25px; 
}
.banner-text{
    width: 50%;
    height: 100%;
    color: white;
    padding: 85px;
}

.banner-image{
    width: 50%;  
}

.banner-image img{
    width: 87%;
    padding-top: 39px;   
}

.banner-h1{
    font-size: 55px;
    line-height: 60px;
}

.click-link{
    text-decoration: none;
    background-color: rgb(255, 0, 255);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 400;
}

.banner-p{
    margin-bottom: 30px;
    margin-top: 20px;
    font-weight: 300;
    font-size: 14px;
    color: rgb(216, 212, 212);
}

.banner-text> a>i{
    padding-left: 20px;
}

/* top banner style ends here */

/* ------------------------------------------- */

/* <!-- playteam cards style starts here --> */

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-card-temp{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.team-info{
    text-align: center;
}
.VS{
    padding: 20px;
    font-weight: bold;
}

.team-card{
    border: 1px solid rgb(212, 208, 208);
    margin: 10px;
    padding: 30px 20px;
    border-radius: 10px;
}
.teams-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* <!-- playteam cards style ends here --> */

/* ------------------------------------------- */

/* <!-- aside section style starts here --> */
.aside{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 250px;
    padding: 15px;
    border-radius: 10px;
    height: 39vh;
    margin-right: 20px;
    
    
}
.aside> a{
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    color: rgb(54, 54, 54);
    margin: 10px;
    padding: 15px;
    
    text-align: center;
    border-radius: 5px;
    font-weight: 700;
}
.aside > .blog-red{
    background-color: rgb(255, 0, 255);
    color: white;
}
/* <!-- aside section style ends here --> */

/* view style starts */

.view-sec{
    height: 5vh;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    visibility: hidden;
}
.view > a {
    
    text-decoration: none;
    background-color: rgb(255, 2, 2);
    color: rgb(255, 255, 255);
    margin: 10px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    font-weight: 700;
}

/* view style ends */




/* <!-- footer section style starts here --> */

.footer{
    background-color: rgb(29, 27, 27);
    height: 50vh;
    color: white;
    margin-top: 100px;
    box-shadow: 1px 1px 10px gray;
}

.goal{

    text-align: center;
    font-size: 35px;
    font-weight:600;
    padding-top: 30px;

}
.footer-info{
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    color: rgb(187, 187, 187);
    margin-top: 3%;
    width: 70%;
    margin-left: 15%;
}
.social-media-links{
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
    margin-bottom: 20px;
    color: rgb(155, 154, 154);

}
.media-icon{
    color: rgb(150, 148, 148);
    font-size: 25px;
}
hr{
    border: 1px solid rgb(209, 207, 206);
    box-shadow: .5px .5px 2px rgb(238, 238, 238);
    width: 90%;
    margin-left: 5%;
}

/* <!-- footer section style ends here --> */


/* Media responsive starts */

/* Responsive for tablet */

@media only screen and (min-width:481px) and (max-width: 768px){
    .view-sec{
        visibility:visible;
    }
    .team-card-temp{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
   .aside{
    display: flex;
   }
}