/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* top banner style starts here */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105vh;   
}

.parent-box{
    display: flex;
    width: 80%;
    height: 80vh;
    background-image: linear-gradient(black, rgb(29, 27, 27));
    align-items: center;
    border-radius: 25px; 
}
.banner-text{
    width: 50%;
    height: 100%;
    color: white;
    padding: 85px;
}

.banner-image{
    width: 50%;  
}

.banner-image img{
    width: 87%;
    padding-top: 39px;   
}

.banner-h1{
    font-size: 55px;
    line-height: 60px;
}

.click-link{
    text-decoration: none;
    background-color: rgba(0, 4, 255, 0.678);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 400;
}

.banner-p{
    margin-bottom: 30px;
    margin-top: 20px;
    font-weight: 300;
    font-size: 14px;
    color: rgb(216, 212, 212);
}

.banner-text> a>i{
    padding-left: 20px;
}

/* top banner style ends here */

/* ------------------------------------------- */

/* <!-- transfer section style starts here --> */

.container2{
    display: flex;
    justify-content: center;
}

.transfer{
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
}
.transfer > .transfer-img > img{
    width: 250px;  
    padding-top: 10px;
    padding-left: 10px;
}

.transfer-info{
    padding: 10px;
}
.transfers{
    max-width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 15px;
    
}

.btn{
    border: 1px solid black;
    color: rgb(0, 0, 0);
    padding: 5px 15px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: white;
    margin-bottom: 10px;
}
.transfer-h4{
    margin-bottom: 10px;
}
.clock-comment{
    display: flex;
    color: rgb(153, 149, 149);
}
.clock{
    margin-right: 40px;
}
.fa-clock, .fa-comment-dots{
    margin-right: 10px;  
    font-size: 13px;
    
}

/* <!-- transfer section style ends here --> */

/* ------------------------------------------- */

/* <!-- aside section style starts here --> */
.aside{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 250px;
    padding: 15px;
    border-radius: 10px;
    height: 39vh;
    margin-right: 20px;
    
    
}
.aside> a{
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    color: rgb(54, 54, 54);
    margin: 10px;
    padding: 15px;
    
    text-align: center;
    border-radius: 5px;
    font-weight: 700;
}
.aside > .blog-red{
    background-color: rgba(0, 4, 255, 0.678);
    color: white;
}
/* <!-- aside section style ends here --> */



/* <!-- footer section style starts here --> */

/* view style starts */

.view-sec{
    height: 5vh;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    visibility: hidden;
}
.view > a {
    
    text-decoration: none;
    background-color: rgb(255, 2, 2);
    color: rgb(255, 255, 255);
    margin: 10px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    font-weight: 700;
}

/* view style ends */

.footer{
    background-color: rgb(29, 27, 27);
    height: 50vh;
    color: white;
    margin-top: 100px;
    box-shadow: 1px 1px 10px gray;
}

.goal{

    text-align: center;
    font-size: 35px;
    font-weight:600;
    padding-top: 30px;

}
.footer-info{
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    color: rgb(187, 187, 187);
    margin-top: 3%;
    width: 70%;
    margin-left: 15%;
}
.social-media-links{
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
    margin-bottom: 20px;
    color: rgb(155, 154, 154);

}
.media-icon{
    color: rgb(150, 148, 148);
    font-size: 25px;
}
hr{
    border: 1px solid rgb(209, 207, 206);
    box-shadow: .5px .5px 2px rgb(238, 238, 238);
    width: 90%;
    margin-left: 5%;
}

/* <!-- footer section style ends here --> */

@media only screen and (min-width:481px) and (max-width: 768px){
   .transfers{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
   }
   .aside{
    display: flex;
    flex-direction: row;
    width: 100%;
}

